/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    font-family: 'Open Sans Condensed',
        sans-serif;
}

.wrapper {
    max-width: 1480px;
    margin: 0 auto;
    background-color: #1b1b1b;
}

.logo_company {
    position: relative;
    height: 120px;
}

.logo {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 80px;
    bottom: -50px;
}

/* Menu */
.navigatie {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: #282828;
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 120px;
    overflow: hidden;
    /* box-shadow: 0 18px 22px -12px; */
}

.navigatie-menu {
    padding: 15px;
    margin: 5px auto;
}

.navigatie-menu a {
    margin: 0 12px;
    padding: 10px;
    font-size: 16px;
    color: whitesmoke;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    background: rgba(33, 33, 34, 0.76);
    border-radius: 15px;
}

/* Banner van website
.banner .banner-pait {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (min-width: 553px) {
    .banner .banner-pait {
        height: 120px;
        width: 100%;
    }
}

@media (min-width: 853px) {

    .banner .banner-pait {
        height: 120px;
        width: 100%;
    }
}

@media (min-width: 812px) {

    .banner .banner-pait {
        height: 140px;
        width: 100%;
    }
}

@media (min-width: 1024px) {

    .banner .banner-pait {
        height: 230px;
        width: 100%;
    }
} */

/* Waar kunnen we werken */

.features {
    width: 85%;
    margin: 60% auto 0;
    padding: 20px;
    background-color: #2a2a2a;
    -webkit-box-shadow: -10px -10px 60px -25px #555,
    10px 20px 60px -25px #777;
    box-shadow: -10px -10px 60px -25px #555,
    10px 20px 60px -25px #777;
    border-radius: 8px;
}

.feature {
    width: 90%;
    margin: 50% auto 0;
    padding: 5px;
    background-color: rgb(232, 232, 232);
    border-radius: 8px;
    -webkit-box-shadow: 6px 6px 17px -4px #626262;
    box-shadow: 6px 6px 17px -4px #626262;
}

.side,
.outside {
    display: block;
    width: 80%;
    margin: 35px auto;
    -webkit-box-shadow: 7px 7px 20px -1px #5e5e5e,
        -7px -7px 20px -1px #c6c6c6;
    box-shadow: 7px 7px 20px -1px #5e5e5e,
        -7px -7px 20px -1px #c6c6c6;
    border-radius: 8px;
}

.desc-feature {
    width: 85%;
    margin: 25px auto;
    padding: 15px;
    color: rgb(63, 63, 63);
    font-size: 16px;
    font-family: 'Open Sans Condensed',
        sans-serif;
    text-align: justify;
}

@media (min-width: 400px) {

    .features {
        width: 80%;
        padding: 30px;
    }

    .desc-feature {
        width: 85%;
        font-size: 17px;
    }
}

@media (min-width: 580px) {

    .features {
        width: 75%;
        padding: 25px;
    }

    .feature {
        width: 80%;
        margin: 15% auto;
    }

    .desc-feature {
        width: 80%;
    }

    .side {
        width: 75%;
        margin: 15% auto;
    }

    .outside {
        width: 75%;
        margin: 15% auto;
    }
}

@media (min-width: 1024px) {

    .features {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 85%;
        margin: 20px auto;
        padding: 5px;
        line-height: 1.8;
    }

    .side {
        height: 250px;
        width: 330px;
        margin: 5px auto;
    }

    .feature {
        width: 45%;
        margin: 15px auto;
    }

    .outside {
        width: 330px;
        height: 250px;
        margin: 5px auto;
    }

    .desc-feature {
        width: 85%;
        margin: 10px auto;
        font-size: 16px;
    }

}

@media (min-width: 1280px) {
    .features {
        width: 80%;
        margin: 60px auto;
        padding: 30px;
    }

    .feature {
        width: 44%;
        margin: 15px auto;
        padding: 20px;
    }

    .desc-feature {
        margin: 20px auto;
        font-size: 16px;
    }
}

/* Over ons */

.main-aboutus {
    width: 90%;
    margin: 60% auto 40%;
    padding: 10px;
    background: #2a2a2a;
    -webkit-box-shadow: -10px -10px 60px -25px #555,
    10px 20px 60px -25px #777;
    box-shadow: -10px -10px 60px -25px #555,
    10px 20px 60px -25px #777;
    border-radius: 8px;
}

.about {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: black 0 0 10px 0;
    box-shadow: black 0 0 10px 0;
    border-radius: 8px;
}

.aboutimg {
    margin: 10px;
}

.aboutusimg {
    width: 100%;
}

.desc-about {
    color: rgb(77, 77, 77);
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    text-align: justify;
}

@media (orientation: landscape) {

    .aboutusimg {
        width: 75%;
        margin: 0 70px;
    }
}

@media (min-width: 320px) {

    .aboutusimg {
        width: 85%;
        margin: 0 18px;
    }

    .head-about {

        font-size: 18px;
    }

    .desc-about {
        font-size: 16px;
    }
}

@media (min-width: 360px) {

    .desc-about {
        color: rgb(77, 77, 77);
        margin: 10px;
        padding: 5px;
        font-size: 16px;
        text-align: left;
    }

}

@media (min-width: 720px) {

    .aboutusimg {
        width: 65%;
        margin: 0 105px;
    }

    .head-about {
        font-size: 18px;
    }

    .desc-about {
        width: 75%;
        margin: 0 auto;
        font-size: 16px;
    }
}

@media (min-width: 800px) {

    .aboutusimg {
        width: 55%;
        margin: 0 140px;
    }

    .head-about {
        font-size: 18px;
    }

    .desc-about {
        width: 65%;
        margin: 0 auto;
        font-size: 16px;
    }
}

@media (min-width: 1024px) {

    .main-aboutus {
        padding: 10px;
    }

    .head-about {
        width: 32%;
        font-size: 18px;
        text-align: left;
    }

    .about {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        width: 85%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 20px auto;
        padding: 15px;
        line-height: 1.2;
    }

    .aboutimg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin: 10px;
    }

    .aboutusimg {
        -o-object-fit: contain;
        object-fit: contain;
        width: 45%;
        margin: 0 auto;
    }

    .desc-about {
        width: 50%;
        margin: 10px auto;
        padding: 10px;
        font-size: 16px;
    }
}

@media (min-width: 1400px) {

    .desc-about {
        width: 40%;
        font-size: 16px;
    }

    .aboutusimg {
        width: 50%;
    }
}

/* Footer */

.footer {
    background-color: rgb(39, 39, 39);
}

.wrap-content {
    background-color: #2a2a2a;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 60%;
    padding: 10px;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 15px 0;
    text-decoration: none;
    letter-spacing: 1px;
    color: whitesmoke;
}

.block-span {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-left: 15px;
    font-size: 16px;
}

.footer-desc {
    text-align: center;
    color: rgb(66, 66, 66);
}

.fas,
.fab {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 16px;
    color: rgb(170, 120, 226);
}

@media (min-width: 533px) {
    .contact {
        width: 310px;
    }

    .contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 15px 0;
    }

    .block-span {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-size: 16px;
    }

    .fas,
    .fab {
        width: 25px;
        font-size: 18px;
    }
}

@media (min-width: 980px) {

    .contact {
        width: 100%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .contacts {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: 15px 0;
        margin-left: 5px;
    }

    .block-span {
        padding-left: 10px;
        font-size: 18px;
    }

    .fas,
    .fab {
        width: 20px;
        font-size: 21px;
    }
}

@media (min-width: 1024px) {

    .contact {
        width: 1024px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .contacts {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: 15px 0;
        margin-left: 18px;
    }

    .block-span {
        padding-left: 10px;
        font-size: 17px;
    }

    .fas,
    .fab {
        width: 20px;
        font-size: 21px;
    }
}

@media (min-width: 1366px) {

    .contact {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1400px) {

    .contact {
        width: 1100px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .contacts {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin: 15px 0;
        margin-left: 24px;
    }

    .block-span {
        padding: 5px;
        font-size: 17px;
    }

    .fas,
    .fab {
        width: 30px;
        font-size: 26px;
    }
}