
/* Company logo */
@media (orientation: landscape) and (min-width: 390px) {
    
    .logo{
        width: 230px;
        height: 230px;
        bottom: -65px;
    }
}

@media (orientation: portrait) and (min-width: 450px) {

    .logo {
        width: 220px;
        height: 220px;
        bottom: -60px;
    }
}

@media (orientation: portrait) and (min-width: 390px) {

    .logo {
        width: 225px;
        height: 225px;
        bottom: -65px;
    }
}

/* Nav bar */
@media (orientation: landscape) and (min-width: 390px) {

    .nav_menu a {
        margin: 0 35px;
        font-size: 18px;
        padding: 7px;
    }
}

@media (orientation: portrait) and (min-width: 390px) {

    .nav_menu a {
        margin: 0 20px;
        padding: 7px;
        font-size: 17px;
    }
}

@media (orientation: portrait) and (min-width: 450px) {

    .nav_menu a {
        margin: 0 25px;
    }
}

/* Where can we work */
@media (orientation: landscape) and (min-width: 390px) {

    .features {
        width: 55% ;
        padding: 8px;
        margin: 35% auto 0;
    }
    .feature {
        width: 70%;
        margin: 30% auto 10%;
    }
    .desc-feature {
        width: 75%;
        margin: 20px auto;
        padding: 8px;
        font-size: 16px;
    }
}

@media (orientation: portrait) and (min-width: 390px) {
    
    .features {
        width: 75%;
    }
    .feature {
        width: 80%;
    }
}

/* About US */
 @media (orientation: landscape) and (min-width: 390px) {

    .main-aboutus {
        width: 55%;
        padding: 8px;
        margin: 30% auto 30%;
    }
    .about {
        width: 80%;
        margin: 40px auto;
        padding: 8px;
    }
    .aboutusimg {
        width: 95%;
        margin: 40px auto;
    }
}

@media (orientation: portrait) and (min-width: 390px) {

    .main-aboutus {
        width: 75%;
    }

    .about {
        width: 80%;
    }
}

/* Footer and contacts, location */
@media (orientation: landscape) and (min-width: 390px) {

    .contact {
        width: 100%;
    }
    .contacts {
        display: flex;
        margin: 18px 5px;
    }
    .block-span {
        align-self: center;
        font-size: 20px;
    }
    .fas,
    .fab {
        width: 25px;
        font-size: 26px;
    }
    .location__company {
        width: 300px;
    }
    .container-location {
        left: 45%;
        top: -35%;
    }
}

@media (orientation: portrait) and (min-width: 360px) {
    .contacts {
        margin: 20px 5px;
    }
    .location__company {
        width: 290px;
    }
    .container-location {
        right: 25px;
    }
    .block-span {
        font-size: 20px;
    }
    .fas, .fab {
        font-size: 28px;
    }
}

@media (orientation: portrait) and (min-width: 390px) {
    .location__company {
        width: 330px;
    }
    .container-location {
        right: 32px;
    }

}

@media (orientation: portrait) and (min-width: 422px) {
    .location__company {
        width: 365px;
    }
    .contacts {
        margin: 20px 15px;
    }
    .container-location {
        right: 43px;
    }
}