@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1480px;
    margin: 0 auto;
    background-color: #1b1b1b;
}

.logo_company {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 120px;
}

.logo {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -45px;
}

/* Menu */
.nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #282828;
    border-radius: 0 0 30px 30px;
    top: 10px;
}

.nav_menu {
    width: 100%;
    height: 45px;
    padding-top: 10px;
    margin: 5px 0;
    text-align: center;
}

.nav_menu a {
    margin: 0 2%;
    padding: 6px;
    font-size: 16px;
    color: whitesmoke;
    font-family: 'Nunito',
    sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    border: 1px transparent solid;
    text-decoration: none;
    background: rgba(33, 33, 34, 0.76);
    border-radius: 15px;
}

.side,
.outside,
.aboutusimg {
    display: block;
    width: 90%;
    margin: 35px auto;
    box-shadow: 7px 7px 20px -1px #5e5e5e,
        -7px -7px 20px -1px #c6c6c6;
    border-radius: 8px;
}

.desc-feature,
.desc-about {
    width: 90%;
    margin: auto;
    color: rgb(0, 0, 0);
    font-family: 'Nunito',
    sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}


/* Waar kunnen we werken */

.features {
    width: 80%;
    margin: 20% auto 0;
    padding: 8px;
    background-color: #2a2a2a;
    box-shadow: -10px -10px 55px -25px #555,
    10px 20px 55px -25px #777;
    border-radius: 8px;
}

.feature {
    width: 85%;
    margin: 35% auto 45px;
    padding: 5px;
    background-color: rgb(232, 232, 232);
    border-radius: 8px;
    box-shadow: 6px 6px 17px -4px #626262;
}

/* Over ons */

.main-aboutus {
    width: 80%;
    margin: 60% auto 40%;
    padding: 7px;
    background: #2a2a2a;
    box-shadow: -10px -10px 55px -25px #555,
    10px 20px 55px -25px #777;
    border-radius: 8px;
}

.about {
    width: 90%;
    margin: 20% auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: black 0 0 10px 0;
    border-radius: 8px;
}

/* Footer */

.footer {
    background-color: rgb(39, 39, 39);
}

.wrap-content {
    display: grid;
    height: 530px;
    grid-template-columns: 300px;
    grid-template-rows: 550px;
    justify-items: center;
    background-color: #292929;
    overflow: hidden;
}

.contact {
    display: flex;
    width: 80%;
    margin-top: 30px;
    padding: 8px;
    grid-column: 1 / 3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contacts {
    display: flex;
    margin: 20px 0;
    text-decoration: none;
    letter-spacing: 1px;
    color: whitesmoke;
}

.block-span {
    align-self: center;
    padding-left: 15px;
    font-family: 'Nunito',
    sans-serif;
    font-size: 16px;
}

.footer-desc {
    text-align: center;
    color: rgb(66, 66, 66);
}

.fas,
.fab {
    align-self: center;
    font-size: 25px;
    color: rgb(170, 120, 226);
}

.location__company {
    position: absolute;
    width: 245px;
    border-radius: 8px;
}

.container-location {
    position: relative;
    width: 245px;
    height: 150px;
    margin-bottom: 50px;
    top: 25px;
}
