* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    width: 290px;
    height: 165px;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 55px;
    margin-bottom: 175px;
    border-radius: 8px;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

img {
    width: 292px;
    height: 15rem;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transform: rotate(180deg);
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transform: rotate(180deg);
}